::selection { background-color: #0A65C9; color: white; }
::-moz-selection { background-color: #0A65C9; color: white; }
::-webkit-selection { background-color: #0A65C9; color: white; }

body {
        background-color: #0e1010;
        font: 13px/20px normal Helvetica, Arial, sans-serif;
        color: #0e1010;
        margin: 0 auto;
}

a {
        color: #003399;
        background-color: transparent;
        font-weight: normal;
        text-decoration: none;
}

h1 {
        color: #ddd;
        background-color: transparent;
        border-bottom: solid 5px #0A65C9;
        font-weight: bold;
        margin: 0 0 14px 0;
        padding: 0 0 7px 0;
}

code {
        font-family: Consolas, Monaco, Courier New, Courier, monospace;
        font-size: 12px;
        background-color: #f9f9f9;
        border: 1px solid #D0D0D0;
        color: #002166;
        display: block;
        margin: 14px 0 14px 0;
        padding: 12px 10px 12px 10px;
}

ul {
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
}

li {
    padding: 0.5em 0 0.5em 0;
}

input {
    padding: 10px;
    background-color: #20282D;
    border: solid 5px rgb(8,8,8);
    color: #fff;
    font-weight: bold;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#body {
        margin: 0 15px 0 15px;
}

p.footer {
        text-align: right;
        font-size: 11px;
        border-top: 1px solid #D0D0D0;
        line-height: 32px;
        padding: 0 10px 0 10px;
        margin: 20px 0 0 0;
}

#container {
        margin: 10px;
        border: 1px solid #D0D0D0;
        box-shadow: 0 0 8px #D0D0D0;
}

#footer {
    margin-top: 10px;
    color: #555;
}

#wrapper {height: 100vh;}
#header {
    display:block;
    text-align: center;
    background-color: #222;
    box-shadow:0 0 5px 5px #080808;
    top: 0;
    width: 100%;
    border-bottom: rgb(18, 18, 18);
    border-bottom-style: solid;
}
.myhead {color:#0A65C9;font-size:40px;font-weight:bold;padding:0px;margin:0px; }
.adminlink {color:#0A65C9;font-size:20px;font-weight:bold;padding:5px;margin:0px; float:right; }
.logout {color:#0A65C9;font-size:20px;font-weight:bold;padding:5px;margin:0px; float:right; }

#content {
    max-width: 960px; margin: auto;
    background-color: #000000;
    box-shadow: 10px 10px 5px #888888;
    border: solid 5px #c9c9c9;
    border-radius: 25px;
    border-color: rgb(8,8,8);
    border-top-style: none;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #F1F5F8;
    padding: 3em;
    margin-top: 7em
}

.mynav {float:right}
.mynav ul {list-style-type:none; padding-top:20px;font-size: 120%;}
.mynav ul li {float:left; margin-right:15px;color:white;list-style-type:none;}
.mynav a {text-decoration:none;color:purple; font-weight:bold;}
.mynav a:hover  {background-color: lavender}

#footer {
    font-family: Arial, Verdana, Helvetica ; font-size: 9pt; font-style:italic; text-align:center;position: fixed;
    bottom: 0;
    width: 100%;
}

.centerize {
    text-align: center;
}

table, td, th {
    border: 1px solid white;
}

td {
    padding:50px;
}
