/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-Jan-2015, 2:58:13 PM
    Author     : Filip
*/


::selection { background-color: #E13300; color: white; }
::-moz-selection { background-color: #E13300; color: white; }
::-webkit-selection { background-color: #E13300; color: white; }

body {
        background-color: #fff;
        font: 13px/20px normal Helvetica, Arial, sans-serif;
        color: #4F5155;
        margin: 0 auto;
}

a {
        color: #003399;
        background-color: transparent;
        font-weight: normal;
        text-decoration: none;
}

h1 {
        color: #ddd;
        background-color: transparent;
        border-bottom: 1px solid #555;
        font-size: 19px;
        font-weight: normal;
        margin: 0 0 14px 0;
        padding: 14px 15px 10px 15px;
}

code {
        font-family: Consolas, Monaco, Courier New, Courier, monospace;
        font-size: 12px;
        background-color: #f9f9f9;
        border: 1px solid #D0D0D0;
        color: #002166;
        display: block;
        margin: 14px 0 14px 0;
        padding: 12px 10px 12px 10px;
}

ul {
    list-style: none;
    list-style-type: none;
    padding: 0;
}

#body {
        margin: 0 15px 0 15px;
}

p.footer {
        text-align: right;
        font-size: 11px;
        border-top: 1px solid #D0D0D0;
        line-height: 32px;
        padding: 0 10px 0 10px;
        margin: 20px 0 0 0;
}

#container {
        margin: 10px;
        border: 1px solid #D0D0D0;
        box-shadow: 0 0 8px #D0D0D0;
}

#footer {
    margin-top: 10px;
}

.leftchat {
    text-align: left;
}

.rightchat {
    text-align: right;
}

#msgbox {
    margin: 0 auto;
    border: 1px solid #D0D0D0;
    box-shadow: 0 0 8px #D0D0D0;
    display: table;
    width: 100%;
}

.lefttextarea, .msgboxelement {
    display: table-cell;
    vertical-align: middle;
    width: auto;
}

.lefttextarea {
    width: 100%;
}

.lefttextarea input {
    width: 100%;
}